* {
  box-sizing: border-box;
}

.barlow-regular {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.main-header {
  color:#8F857D;
  border:solid;
  border-left:none;
  border-right:none;
  border-top: none;/
  font-size:80px;
} 

.body-header {
  width:90%;
  border:solid;
  border-width: 0.1em;
  border-radius: 5px;
  margin-left:5%;
  margin-right:5%;
  padding-left:15px;
  padding-right:15px;
  position:relative;
  margin-top:-15px;
  background-color: #433633;
}

body {
  
  background-color: #433633;
  color: #F7F0F5;
  border-color: #F7F0F5;
  font-family: "Barlow", sans-serif;
}
header h1 {
  text-align: left;
}

header h2 {
  text-align: left;
  margin-left:10%;
  margin-right:10%;
  font-size:22px;
}

h1 {
  font-size:34px;
  margin-bottom:0px;
}

h2 {
  margin-top:10px;
 font-size:22px; 
}

section { display:flex;
flex-flow: row wrap;
justify-content: space-between;
width:100%;
}

div {
  flex: 1 0 30%;
  text-align: left;
  border: solid;
  border-width: 0.10em;
  margin-top: 30px;
  margin-left:0.5%;
  margin-right:0.5%;
  padding-left:15px;
  padding-right:15px;
  background-image: linear-gradient(to top, #343548, #1c1813);
}

p {
font-size:16px;
}


div:hover,
div:hover .cardheader {
  box-shadow: inset 0px 0px 0px 0px
  #b4b8fd, 0 0 15px
  #b4b8fd;
}

@media screen and (max-width: 992px) {
  div { 
      flex-flow: column wrap;
      flex: 1 1 40%;
      margin-left:2%;
      margin-right:2%;
      width:40%;
  }
  .main-header {
      font-size:50px;
      color:#5C5552;
  }
  
}

@media screen and (max-width: 768px) {
  
  div { 
      flex-flow: column wrap;
      flex: 1 1 100%;
      margin-left:10%;
      margin-right:10%; 
  }
  .main-header {
      font-size:50px;
      color:#5C5552;
  }

}

